<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
           
      {% endblock %}  
        
        
    </head>
    <body>
    {% block menubackend %}
    
    {% endblock %}
    <h1>Bienvenido a la Biblioteca de Trabajos Especial de Grado</h1>
        <div id="body" class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery/2.1.1/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}        
    </body>
</html>
